/* Estilo para el textarea con líneas como hoja de papel */
.lined-textarea {
    background: linear-gradient(to bottom, white 29px, #e0e0e0 1px);
    background-size: 100% 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    resize: none; /* Evita que el usuario redimensione el textarea */
}


.modal-content {
    border-radius: 15px;
}
.modal-header {
    border-bottom: none;
}
.modal-body img {
    max-width: 100%;
    border-radius: 10px;
}
.amigo-secreto-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
